*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: var(--pr-font-sans);
  line-height: var(--pr-line-height-normal);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  background: var(--pr-color-background);
  color: var(--pr-color-text);
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  border: 0;
}
